<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Meow Chat</title>
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<main id="app">
		<section class="form-container">
			<img src="./images/meowchat.svg" alt="meow chat logo">
			<label for="nickname">What is your cat's name</label>
			<input v-model="nickName" type="text" id="nickname" class="nickname" placeholder="ex. Eva">

			<form>
				<label for="message">Share your cat's story</label>
				<textarea v-on:keyup="typingSomething" v-model="message" class="message" type="text" autocomplete="off" id="textarea" placeholder="Eva is very friendly and playful... or something like that!"></textarea>
				<input @click.prevent="dispatchMessage" type="submit">
				<img src="./images/cat_hand.svg" alt="cat hand with heart">
			</form>
		</section>

		<section class="messages" id="msgHolder">
			<ul id="messages">
				<!-- render a new message component for every message -->
				<newmessage :msg="message" v-for="message in messages"></newmessage>
			</ul>
		</section>
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>